{% extends "index.html.twig"%}

{% block  header %}{%endblock%}

{#{% for Projet in projets %}
         <div>
           <p>{{Projet.Titre}}</p>  
           <p>{{Projet.Images}}</p>
           <p>{{Projet.Description}}</p>
           <p>{{Projet.Lien}}</p>
           <div>
               
           </div>
         </div>
        </div>
        {% endfor %}#}
        
        
        {% block body %}
               <div class="container" >   
                   <div class="row">
            {% for Projet in projets %}
                         

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <img src="{{asset('images/')~Projet.Images}}">
      <div class="caption">
        <h3>{{Projet.Titre}}</h3>
        <p>{{Projet.Description}}</p>
        <p> lien: <a href="http://{{Projet.Lien}}">{{Projet.Lien}}</a></p>
{#        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>#}
      </div>
    </div>
  </div>

        
        {% endfor %}        </div>
        </div>
    {% endblock %}